# Pregunta 9.Estamos pensando en abrir una nueva vertical llamada Mercadona eat&go. Su objetivo es que la gente pueda comprar y comer los productos en una sala acondicionada dentro de nuestro establecimiento. 
# Te compartimos un csv con las compras de algunos usuarios en verano. ¬øQu√© tipo de alimentos recomendar√≠as y por qu√©?


### Punto a tomar en cuenta:
* Las compras fueron realizadas en verano, esto quiere decir que el tipo de comida para verano suele ser mas fresca y liviana.

* Se tiene que tomar en cuenta tambien que sean alimentos que puedan consumirse en cualquier estaci√≥n del a√±o.

###  Qu√© se har√°?
* üìå En primer lugar, se generar√° un data frame con las compras y los nombres de

In [22]:
import pandas as pd
import numpy as np
import io
pd.set_option('display.float_format', lambda x: '%.2f' % x)
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
rd = pd.read_csv('raw_data.csv')

In [3]:
dfc = pd.read_csv('df_compras_100000.csv')

In [4]:
rd.head(5)

,category,name,description,price,reference_price,reference_unit,insert_date,product_id,id_reference_supermarket
0,perfumeria_e_higiene_cuidado_facial_protector_...,LIPOSAN protector labial soft rose envase 1 ud,NaN,2.39,2.39,ud,2021-03-06 00:00:00,45d83ce427cf60c02e1e6f3d28f58ed6,M3
1,perfumeria_e_higiene_higiene_intima_compresas,AUSONIA compresas normal alas bolsa 14 uds,NaN,2.49,0.18,ud,2021-03-06 00:00:00,3fa10738dcbe5f09646eaf39a46a2871,M3
2,perfumeria_e_higiene_higiene_intima_compresas,EVAX Cottonlike compresa super plus con alas b...,NaN,2.79,0.23,ud,2021-03-06 00:00:00,5f5bc0a466375a16d01a6aed6c66e413,M3
3,perfumeria_e_higiene_higiene_bucal_productos_p...,POLIDENT tabletas limpiadoras para pr√≥tesis de...,NaN,7.95,0.11,ud,2021-03-06 00:00:00,0a1e56be01f8766d0bb87f3e42fd2abf,M3
4,perfumeria_e_higiene_higiene_bucal_productos_p...,IWHITE kit de blanquamiento dental profesional...,NaN,36.99,3.70,ud,2021-03-06 00:00:00,b150c5e27da5c91d13a5b570c9b3efd3,M3

In [5]:
dfc

       id_compra fecha_compra  id_cliente                       id_producto
0              0   2022-06-02          19  f65b04468e58cc9f604cb097236872fe
1              1   2022-08-02          27  ce43ded19a577ac0aaa1e3b0cf2b5f1a
2              2   2022-07-09          20  0a56c32642021feae8049bbb840a6153
3              3   2022-08-18           5  2f8af1c55f93e0b3e4a0b03e5e0f28b4
4              4   2022-06-27           3  d7382d624ca08e4459996938e65935e8
...          ...          ...         ...                               ...
99995      99995   2022-07-19          27  e98212fd3744bc61ee8664b78381f592
99996      99996   2022-08-04          50  30c0d240eb3834a32a4ca8128fa2a546
99997      99997   2022-07-11          20  b408c71cf823b99ff6b80e17573d5940
99998      99998   2022-07-09           1  beadab32512739ed268a6c4dcf19947e
99999      99999   2022-06-27          29  0df17d9bc9b3a7846a4527d8ec94090a

[100000 rows x 4 columns]

In [24]:
len(dfc)

100000

# En el dataframe de compras (dfc) vemos que un cliente puede realizar varias compras en diferentes d√≠as. Se realizar√° lo siguiente:

* Valoramos por medio de un resumen de la base de datos dfc para conocer cual es el id que mas se repite.
* Filtraremos la base de datos rd por M1 (Mercadona)
* Como s√≥lo necesitamos dos columnas del df de Mecadona, aplicamos un filtro para traernos las columnas **product_id y name**

In [7]:
dfc.id_producto.describe()   #vemos que el id_producto que mas se repite es el "93ca9085566a3803e9538c1b756204b5"

count                               100000
unique                                 200
top       93ca9085566a3803e9538c1b756204b5
freq                                   543
Name: id_producto, dtype: object

## Creamos el df con las filas que necesitamos del rd

In [85]:
rd_filas = rd.groupby(["product_id", "name","id_reference_supermarket"]).agg( conteo_en_df = ("product_id" , "count")).reset_index() #cogemos solo las columnas que necesitamos de la df de Mercadona

In [86]:
rd_filas

,product_id,name,id_reference_supermarket,conteo_en_df
0,000524d73b9d09ae193aaf463191b038,Pechuga de pavo Braseado Campofr√≠o Finissimas ...,M2,167
1,000541efc0b1576743bc990d241aaa52,Cerveza El √Åguila sin filtrar pack de 10 latas...,M2,3
2,0007507cdc06cdf416c777d38d69eb14,Mopa de Microfibra ROZENBAL,M2,9
3,000780b12d67871681dccc1383869831,Caramelos de goma Favoritos Haribo 275 g.,M2,139
4,0008afbaae96e6003d71de151a2ec67b,DIA MARI MARINERA medallones de merluza del ca...,M3,255
...,...,...,...,...
40432,fff3dd4faa8b2be5178fab66d333acd9,Yogur b√≠fidus desnatado con kiwi Danone Activi...,M2,21
40433,fff473551393a45da35c7ea160c52ada,Bebida l√°ctea de fresa y pl√°tano Hacendado,M1,559
40434,fff6e6b26b54a9fb3cf990f0a967eadd,Tortitas de arroz integrales con chocolate y ...,M2,12
40435,fff8007d5d155de4a4ea5215b0a0ffc5,Mix de verduras jardinera,M1,541
40436,fff8007d5d155de4a4ea5215b0a0ffc5,Mix de verduras jardinera para micro,M1,18

## Filtramos por Supermercado, en este caso Mercadona

In [84]:
rd_solo_mercadona= rd_filas[(rd_filas["id_reference_supermarket"] == "M1")]# filtramos por supermercado
rd_solo_mercadona

,product_id,name,id_reference_supermarket,conteo_en_df
9,000d8079b6a0daae2b0267126ae9adbf,Comprimidos Vitamina D3 2000 ui Vitadiet,M1,243
10,0010432366ece6221db98d6f1dc15d0b,Vasos grandes de pl√°stico Bosque Verde reutili...,M1,88
15,0015c4bf6eb2d44a1ebb32f0999a2e2b,Ba√±o de color 210 negro azulado Deliplus 0% am...,M1,438
24,0023b050194a9f4b764860f3e563a9c5,Mini eau de parfum hombre Flor de Mayo Triomph...,M1,139
27,002c7f51dd28e4f640ae52f12dfe1f1a,Queso rallado Gouda Hacendado,M1,157
...,...,...,...,...
40424,ffe0e8d74c9dfdae53981b4d0dfd72ed,Eau de toilette mujer Deliplus Vuela,M1,216
40427,ffed227a44b6eb41d6badee80731470a,Helado cucurucho de chocolate Hacendado,M1,92
40433,fff473551393a45da35c7ea160c52ada,Bebida l√°ctea de fresa y pl√°tano Hacendado,M1,559
40435,fff8007d5d155de4a4ea5215b0a0ffc5,Mix de verduras jardinera,M1,541
40436,fff8007d5d155de4a4ea5215b0a0ffc5,Mix de verduras jardinera para micro,M1,18

# Se tiene una base de datos de las ventas de Junio, Julio y Agosto, con los id de los productos, pero no sabemos los nombres de estos. Que haremos?

Necesitamos unir los dos dataframe por medio de los id de los productos, de esta manera podemos conocer el nombre del producto que se ha vendido en ese trimestre.

In [92]:
Merge_dfs = dfc.merge(rd_solo_mercadona,how="left" , left_on ="id_producto" , right_on = "product_id" )
Merge_dfs

,id_compra,fecha_compra,id_cliente,id_producto,product_id,name,id_reference_supermarket,conteo_en_df
0,0,2022-06-02,19,f65b04468e58cc9f604cb097236872fe,NaN,NaN,NaN,NaN
1,1,2022-08-02,27,ce43ded19a577ac0aaa1e3b0cf2b5f1a,NaN,NaN,NaN,NaN
2,2,2022-07-09,20,0a56c32642021feae8049bbb840a6153,NaN,NaN,NaN,NaN
3,3,2022-08-18,5,2f8af1c55f93e0b3e4a0b03e5e0f28b4,NaN,NaN,NaN,NaN
4,4,2022-06-27,3,d7382d624ca08e4459996938e65935e8,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
102490,99995,2022-07-19,27,e98212fd3744bc61ee8664b78381f592,NaN,NaN,NaN,NaN
102491,99996,2022-08-04,50,30c0d240eb3834a32a4ca8128fa2a546,NaN,NaN,NaN,NaN
102492,99997,2022-07-11,20,b408c71cf823b99ff6b80e17573d5940,NaN,NaN,NaN,NaN
102493,99998,2022-07-09,1,beadab32512739ed268a6c4dcf19947e,beadab32512739ed268a6c4dcf19947e,Refresco cola Hacendado,M1,559.00
102494,99999,2022-06-27,29,0df17d9bc9b3a7846a4527d8ec94090a,NaN,NaN,NaN,NaN

In [93]:
Merge_dfs.name.describe()

count                  32129
unique                    24
top       Refresco Coca-Cola
freq                    3492
Name: name, dtype: object

# Vamos a agrupar los df unidos para observar cual es el producto que mas se vende

In [122]:
nombre_producto = Merge_dfs.groupby(["id_producto","name"]).agg(producto_comprado = ("name", "count")).reset_index()

In [123]:
nombre_producto

,id_producto,name,producto_comprado
0,046d8a822e8835a10fd34d3a50fa4ac3,Refresco cola Hacendado,512
1,06c2cd4a8cc5383dcf9dfb7d0612ade1,Refresco Coca-Cola Zero az√∫car,494
2,0d6ecab1dea5b0caf81cb81fcf66a148,Bebida isot√≥nica blue Iso drink,519
3,0fee679e6cd7841821c432b1fa529ccc,Refresco cola Hacendado,490
4,18744a79b1f1615f30b3d54554dd4500,Refresco Coca-Cola Zero az√∫car,513
...,...,...,...
59,ee59c29d26690c3dcc30c9683646d301,Refresco Coca-Cola Zero Zero,539
60,f53c78cdffb3053b1948ffdb067f48e7,Refresco Coca-Cola Zero az√∫car,522
61,f56e65022625f37a24a3630410c5c071,Bebida energ√©tica original Burn,490
62,f5e9f981a029e446490348d73789c847,Refresco Coca-Cola Zero Zero,518
63,f6a62a8c304a0e818f869aa2ea02df8a,Bebida para deportistas sabor c√≠trico Hacendado,515

# Ahora bien, por alguna raz√≥n solo aparecen bebidas. ¬øQue pasa con los alimentos?

Estudiaremos los id_productos de la df original (rd) para ver si pertenecen a los de mercadona,  porque puede que est√© pasando que algunos ids pertenezcan a otro supermercado.

In [119]:
prueba1= rd[(rd["product_id"]== "f65b04468e58cc9f604cb097236872fe")] 
# EL product_id qeu aparece en dfc no es de mercadona sino de dia 
prueba.head(2)

,category,name,description,price,reference_price,reference_unit,insert_date,product_id,id_reference_supermarket
770,alimentacion_caldos_sopas_y_pures_caldo_concen...,KNORR doble caldo de carne estuche 24 pastilla...,NaN,2.89,0.12,ud,2021-03-06 00:00:00,f65b04468e58cc9f604cb097236872fe,M3
29263,alimentacion_caldos_sopas_y_pures_caldo_concen...,KNORR doble caldo de carne estuche 24 pastilla...,NaN,2.89,0.12,ud,2021-03-07 00:00:00,f65b04468e58cc9f604cb097236872fe,M3

In [120]:
prueba2= rd[(rd["product_id"]== "f56e65022625f37a24a3630410c5c071")] 
# EL product_id qeu aparece en dfc no es de mercadona sino de dia 
prueba.head(2)

,category,name,description,price,reference_price,reference_unit,insert_date,product_id,id_reference_supermarket
770,alimentacion_caldos_sopas_y_pures_caldo_concen...,KNORR doble caldo de carne estuche 24 pastilla...,NaN,2.89,0.12,ud,2021-03-06 00:00:00,f65b04468e58cc9f604cb097236872fe,M3
29263,alimentacion_caldos_sopas_y_pures_caldo_concen...,KNORR doble caldo de carne estuche 24 pastilla...,NaN,2.89,0.12,ud,2021-03-07 00:00:00,f65b04468e58cc9f604cb097236872fe,M3

# Queda demostrado que el id del producto de la base de datos dfc (compras) pertenece a otro supermercado, en este caso a DIA

In [192]:
df_np = Merge_dfs.groupby(["id_producto","name"]).agg(compras_realizadas =("id_producto","count")).sort_values( by = ["compras_realizadas"] , ascending=False)

In [193]:
df_np

                                                                               compras_realizadas
id_producto                      name
ee59c29d26690c3dcc30c9683646d301 Refresco Coca-Cola Zero Zero                                 539
2296096c9fa43436a6e987412e7eda0a Bebida energ√©tica Red Bull                                   537
4d14041baa4d7611411b353fcc6975cb Refresco cola Pepsi                                          533
a5101119b3a8b1c266db97f44113fd09 Bebida energ√©tica sabor guaran√° Energy Drink                 530
451a3c6251a23a555066da9c472ca423 Refresco Coca-Cola Zero Zero                                 528
...                                                                                           ...
289719fb2a07d2cbd18fb5724fffa747 Bebida isot√≥nica de naranja Iso drink                        469
7a497a5a45597bee31bf2d05acecd999 Bebida energ√©tica energy ultra zero Monster                  466
                                 Bebida energ√©tica energy ultra Monster                       466
                                 Bebida energ√©tica Energy Ultra zero Monster                  466
b2d8c59e8ca2bbd36e41c55da3ee4813 Bebida energ√©tica Energy Drink                               458

[64 rows x 1 columns]

In [156]:
Merge_dfs.name.describe()

count                  32129
unique                    24
top       Refresco Coca-Cola
freq                    3492
Name: name, dtype: object

# Respuesta PREGUNTA 9

## ARGUMENTO

En principio contabamos con DataFrame de compras realizadas en el mes de Junio, Julio y Agosto en el Mercadona, esta estaba compuesta por las columnas **id_compra,fecha_compra, id_cliente, id_producto** y **100.000 registros** pero no contabamos con lo nombres de los productos, lo cual necesitabamos para conocer los articulos mas vendidos y poder sacar posibles platos.

* En primer lugar se trajo las columnas de la base de datos original *(raw_data)* para poder hacer la union de las tablas por medio de los id del producto.
* Se realiz√≥ la uni√≥n de la tabla de compras, con la base de datos original, filtrandolo por el supermercado Mercadona creando un nuevo df con **102495 registros**
* Se not√≥ de inmediato que no habian registros con los nombres de los alimentos.
* Se realiz√≥ unas pruebas para ver cual era la raz√≥n por la cual no aparecian estos nombres en la union de la base de datos.


# CONCLUSI√ìN

Se observ√≥ que de las 102.495 registros coincidian solo **64 registros** y todos estos haciendo referencia a bebidas,al comparar los id de los productos con la base de datos original, estos coincidian con el id de otros supermercados. Por ejemplo el id **"f65b04468e58cc9f604cb097236872fe"** que se encontraba en la base de datos de las compras, **pertenec√≠a a DIA**. Se aplic√≥ un filtro con los id que solo pertenecieran a Mercadona. 

No se puede recomendar ningun alimento excepto bebidas ya que no contamos con registros de compras de alimentos para sacar una conclusion, como bebida podemos recomendar la **Refresco Coca-Cola Zero Zero =539 compras,Bebida energ√©tica Red Bull=537 compras y Refresco cola Pepsi=533 compras** sabemos con certeza que al menos el Refresco Coca-Cola Zero Zero no puede faltar ademas que es bebible todas las estaciones del a√±o.